body {
  margin: 0;
}

li {
  list-style: none;
}

.tab {
  border-bottom: 3px solid #fb4343;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.tab li {
  color: #333;
  margin: 0 10px -1px 0;
  padding: 10px 20px;
  cursor: pointer;
  list-style: none;
  transition: 0.3s;
}
.tab li.active {
  color: #fff;
  background: #fb4343;
  cursor: auto;
}

.area ul {
  display: none;
}
.area ul.show {
  display: block;
  padding: 0px;
}

.show {
  padding: 0;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.ef {
  &_freeword {
    width: 100%;
    height: 30px;
    margin: 15px 0;
  }
}

.list {
  display: flex;
  flex-direction: column;

  &_item {
    margin: 7px 0;

    &_link {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & span:nth-child(2) {
        width: 35%;
      }

      &_teacher {
        width: 20%;
      }
    }
  }
}
