body {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  &_link {
    font-size: 30px;
    
    &_item {
      font-size: 30px;
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;

  &_label {
    display: flex;
    align-items: center;
    margin: 5px;

    &_input {}
  }
}

.ef {
  &_freeword {
    width: 100%;
    height: 30px;
    margin: 15px 0;
  }
}

.list {
  display: flex;
  flex-direction: column;

  & :not(:last-child) {
    border-bottom: 1px solid #000;
  }

  &_item {
    &_link {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      align-items: center;

      span {
        border-bottom: none !important;
      }

      & span:nth-child(2) {
        width: 35%;
      }

      &_teacher {
        width: 20%;
      }
    }
  }
}

.axios {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 115px 0 800px 0;

  &_wrap {
    position: absolute;
    top: 100px;
  }

  &_text {
    font-size: 30px;
    color: $blue;
  }
}