body {
  margin: 0;
}



.wrapper {
  width: 80%;
  margin: 0 auto;

  &_link {
    font-size: 30px;
    
    &_item {
      font-size: 30px;
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.ef {
  &_freeword {
    width: 100%;
    height: 30px;
    margin: 15px 0;
  }
}

.list {
  display: flex;
  flex-direction: column;

  &_item {
    margin: 7px 0;

    &_link {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & span:nth-child(2) {
        width: 35%;
      }

      &_teacher {
        width: 20%;
      }
    }
  }
}

.axios {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 115px 0 500px 0;

  &_wrap {
    position: absolute;
    top: 100px;
  }
}