.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 750px;
  margin: 0 auto;
}

.tab_item {
  width: calc(100% / 3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.75;
  }
}

input[name="tab_item"] {
    display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

#class:checked ~ #class_content,
#teacher:checked ~ #teacher_content,
#design:checked ~ #design_content {
  display: block;
}

.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.cp_iptxt {
	position: relative;

}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.ef input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.data_para {
  text-align: center;
  font-size: 15px;
  color: #000;
}

.to_top {
  text-align: left;
  margin-left: 50px;
}